html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #efeeee, #d4d4d4);
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 4px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    max-width: 600px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #575757;
    background-color: #575757;
}

.logo img {
    height: 60px;
    border-radius: 35%;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
}

nav a:hover {
    background-color: #575757;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    max-width: 1400px;
    width: 100%;
    height: 55%;
}

.item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.item img {
    max-width: 100%;
    height: 50%;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.item p {
    margin: 5px 0;
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: relative;
    margin-top: auto;
}
